# Apple - as per github.com/HoolockLinux/docs
CONFIG_ARCH_APPLE=y
CONFIG_ARM64_WORKAROUND_APPLE_FUSION=y
CONFIG_APPLE_PMGR_PWRSTATE=y
CONFIG_USB_DWC2=y
CONFIG_SERIAL_SAMSUNG=y
CONFIG_ARM_APPLE_SOC_CPUFREQ=y
CONFIG_PINCTRL_APPLE_GPIO=y
CONFIG_BACKLIGHT_APPLE_DWI=y
CONFIG_I2C_APPLE=y
CONFIG_BACKLIGHT_DA2XXX=y

# DRM
CONFIG_DRM_CLIENT_LIB=y
CONFIG_DRM_CLIENT_SELECTION=y
CONFIG_DRM_GEM_SHMEM_HELPER=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_SIMPLEDRM=y
